body {
  font-family: "Lato";
  font-family: "Gluten";
}
.menu {
  background-color: rgb(207, 203, 203);
  text-align: center;
  width: 200px;
  list-style-type: "🌀";
  list-style-position: inside;
  padding: 0;
  text-align: left;
}
.menu li:hover {
  background-color: rgb(66, 65, 65);
}
.menu li:hover {
  color: white;
}
.menu a {
  text-decoration: none;
  color: black;
}

.aktif a {
  background-color: rgb(66, 65, 65);
  color: white;
}
