body {
  background-image: url(../img/more-leaves.png);
}
.arkaplan {
  width: 100%;
  height: 200px;
  background-image: url(../img/right-arrow.png);
  border: 5px dotted gray;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.arkaplan2 {
  background-image: url(../img/image-05.jpg);
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px dashed blue;
}
