body {
  padding: 0;
  margin: 0;
}

.ust-menu {
  background-color: gray;
}
.header div,
.ust-menu div {
  display: inline-block;
  border: 1 px solid red;
  width: 47%;
  padding: 5px;
  color: white;
}
.header .menu,
.ust-sag-menu {
  text-align: right;
}
.ust-menu a {
  color: white;
  text-decoration: none;
}
.header {
  background-color: rgb(173, 170, 170);
  position: sticky;
  top: 0;
}

.logo {
}
.menu {
}
