.text-box {
  display: inline-block;
  position: relative;
}
.fa-search {
  position: absolute;
  right: 5px;
  top: 2px;
}
.text-box input {
  padding-right: 30px;
  border: 1px solid red;
  border-radius: 20px;
}
