.yazi {
  font-size: 30px;
  color: greenyellow;
  font-weight: bold;
  text-shadow: 3px 5px 5px black;
}
.yazi2 {
  font-size: 30px;
  color: greenyellow;
  font-weight: bold;
  text-shadow: 3px 5px 5px red, -2px 5px 5px black;
}
.kutu {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  margin-top: 20px;
  box-shadow: 10px 10px 10px black;
  border-radius: 5px;
}
