.kutular {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
  height: 300px;

  /* flex-wrap: wrap;sayfa kuculdukce asagi kaymasi icin*/
}
.kutu {
  background-color: hotpink;
  border: 1px solid blue;
}
.kutu1 {
  flex: 1;
}
.kutu2 {
  flex: 3;
}
.kutu3 {
  flex: 2;
}
