body {
  background-color: rgb(253, 211, 218);
}
.container {
  background-color: white;
  margin: 50px 60px;
  border-radius: 10px;
}
.col img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  padding: 0;
}
.col {
  padding: 10px 30px;
}
